body{
    background-image: url(./assets/background.);
    background-size: cover;
}
a,h5,p{
    text-decoration: none;
    color: black;
}
.card-link{
    text-decoration: none !important;
}
.color-white{
    color: white;
}