@import url("./assets/background.png");
body {
  width: 100%;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}
a,h5,p{
    text-decoration: none;
    color: black;
}
#box1{
  width: 600px;
  height: 600px;
}
#game-head {
  cursor: default;
  /* width: fit-content; */
  display: inline-block;
  font-size: large;
  color: white;
  border-radius: 5px;
  border: 2px solid gold;
  font-size: 35px;
  background-color: rgb(173, 94, 49);
}
#game-bottom{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}
.blurred-bg {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.blurred-bg.tinted {
  background-size: 100%;
  background-image: linear-gradient(320deg, rgba(101, 115, 137, 0.8), rgb(0, 56, 116, 0.8));
}
.box {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.game-head{
  font-weight: 900;
  font-size: x-large;
}
.row {
    height:30%;
}
.tile{
  border: 2px solid rgb(255, 255, 255) ;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.cross{
  background-image: url(./assets/tile-x.png);
}
.zero{
  background-image: url(./assets/tile-o.png);
}
.closed-playground > .row> .tile{
  border: 2px solid rgb(87, 87, 87);
  background: rgb(238,174,202);
  background: linear-gradient(45deg, rgb(62, 76, 110) 0%, rgba(158, 249, 178, 0.536) 100%);
}
.hover {
  position: relative;
  overflow: hidden;
}
.hover::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust opacity as needed */
  z-index: -1; /* Make sure the image is behind your content */
}
.hover-X::after{
  background-image: url('/01-TicTacToe/assets/tile-x.png'); /* Replace with your image path */
}
.hover-O::after{
  background-image: url('/01-TicTacToe/assets/tile-o.png'); /* Replace with your image path */
}
.btn-game {
  padding: 4px;
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  font-size: large;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(0, 255, 247);
  font-size: 20px;
  background-color: rgb(49, 82, 173);
}
.cur-pointer{
  cursor: pointer !important;
}